Package: libnss-noenum
Version: 0.1
Architecture: amd64
Maintainer: Hein-Pieter van Braam <hp@tmm.cx>
Installed-Size: 13
Depends: libc6 (>= 2.2.5)
Suggests: libc6-i386 (>= 2.1.3)
Section: admin
Priority: extra
Description: nss module to allow disabling of enumeration of nss databases
 This Name Service Switch (NSS) module emits not available for nss database
 walking. This is useful for slower databases such as LDAP.
